#header{
	color:white;
	font-size: 25px;
	float:left;
	text-align:center;
	padding-top: 50px;
	padding-left : 150px;

}

#menu{
	position: fixed;
	width:100%;
	height:auto;
	padding:0px solid:red;
	position: fixed;
	top: 0px;
}
#menu ul{
	padding-bottom: 0px;
	padding-top: 2 0px;

    list-style-type: none;
    text-align: center;
    background-color: black;
}
#menu ul li{
	
	padding-top:10px;
	padding-left:40px;
    color:white;
    display: inline-table;
    width: 15%;
    height :120px;
    line-height: 40px;
   
}
#menu ul li a{

	padding-top: 30px;
	text-align: center;
color:white;
text-decoration: none;
display: block;
height:auto;

}
#menu ul li a:hover{
	height:auto;
	background-color: white;
	color:#333;

}
#story{
	margin-top:10%;
	margin-left:150px;
	margin-right:100px;
}
#people{
	float:left;
	margin-top:100px;
	margin-left:150px;
	margin-right:200px;
}

#people2{
	border-top: 3px solid #E6E6E6;
	float:left;
	margin-top:50px solid red;
	margin-left:10%;
	margin-right:15%;
}
#ft1{
	padding-top:3%;
	background-color: black;
	padding-left: 17%;
	color:white;
	font-size: 14px;
}
#ft2{
	padding-top: 3%;
	background-color: black;
	padding-left: 10%;
	color:white;
	font-size: 14px;
}
#ft2 a{
color:white;
text-decoration:  none;
}
#ft2 a:hover{
	background-color: gray;
	color:white;
}
#ft3{
	padding-top: 3%;
	background-color: black;
	padding-left: 10%;
	color:white;
	font-size: 16px;

}
#ft3 a{
color:white;
text-decoration:  none;
}
#ft3 a:hover{
	background-color: gray;
	color:white;
}
#ft4{
	padding-top: 3%;
	padding-left: 11%;

}
#icon img{
	padding-left:10px;
}
